* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #B91450;
}

h1 {
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#form_container {
    width: 80%;
    height: 250px;
    background-color: white;
    border-radius: 15px;
    margin: auto;
}

.input {
    display: flex;
    justify-content: center;
}

#input_1,
#input_2,
#input_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    color: #B91450;

}

#input_1 > p,
#input_2 > p,
#input_3 > p {
    font-size: 20px;
    padding: 20px 0;
}

input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border-color: #B91450;
    border: 1px solid #B91450;
}

#input_2 > input {
    background-color: #B91450;
}

select {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border-color: #B91450;
}

.bottoni {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    
}

.btn {
    color: #B91450;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
    font-weight: 600;
    background-color: lightgray;
    border: 1px solid gray;
}